<div id="cc-dif-{{ block.id }}" class="cc-dif-wrapper" {{ block.shopify_attributes }}>
  <div class="cc-dif-container">
    <div class="cc-dif-grid">
      {%- for i in (1..6) -%}
        {%- assign img_id = 'item_image_' | append: i -%}
        {%- assign title_id = 'item_title_' | append: i -%}
        {%- assign link_id = 'item_link_' | append: i -%}
        {%- assign svg_id = 'item_svg_' | append: i -%}
        
        {%- if block.settings[title_id] != blank -%}
          <a href="{{ block.settings[link_id] | default: '#' }}" class="cc-dif-item">
            <div class="cc-dif-image-box">
              {%- if block.settings[img_id] != blank -%}
                <img src="{{ block.settings[img_id] | image_url: width: 600 }}" alt="{{ block.settings[title_id] | escape }}" loading="lazy">
              {%- endif -%}
            </div>
            <div class="cc-dif-text-wrap">
              <span class="cc-dif-title">{{ block.settings[title_id] }}</span>
              {%- if block.settings[svg_id] != blank -%}
                <div class="cc-dif-svg-wrap">
                  {{ block.settings[svg_id] | image_url: width: 100 | image_tag: loading: 'lazy', alt: block.settings[title_id] }}
                </div>
              {%- endif -%}
            </div>
          </a>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  #cc-dif-{{ block.id }} .cc-dif-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px 16px;
  }
  @media screen and (max-width: 749px) {
    #cc-dif-{{ block.id }} .cc-dif-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }
</style>