<div
  class="multi-icon-row"
  style="      --text-size:{{ block.settings.text-size }}px;"
>
  {% if block.settings['icon-1'] %}
    <div
      class="multi-icon-item"
      style="
        --icon-size:{{ block.settings.icon_size_1 }}px;
        --icon-size-m:{{ block.settings.icon_size_m_1 }}px;
      "
    >
      <div class="multi-icon-item-img">
        {% render 'lx-liquid-image', image: block.settings['icon-1'] %}
      </div>
      <div class="multi-icon-item-text">
        {{ block.settings['text-1'] }}
      </div>
    </div>
  {% endif %}
  {% if block.settings['icon-2'] %}
    <div
      class="multi-icon-item"
      style="
        --icon-size:{{ block.settings.icon_size_2 }}px;
        --icon-size-m:{{ block.settings.icon_size_m_2 }}px;
      "
    >
      <div class="multi-icon-item-img">
        {% render 'lx-liquid-image', image: block.settings['icon-2'] %}
      </div>
      <div class="multi-icon-item-text">
        {{ block.settings['text-2'] }}
      </div>
    </div>
  {% endif %}
  {% if block.settings['icon-3'] %}
    <div
      class="multi-icon-item"
      style="
        --icon-size:{{ block.settings.icon_size_3 }}px;
        --icon-size-m:{{ block.settings.icon_size_m_3 }}px;
      "
    >
      <div class="multi-icon-item-img">
        {% render 'lx-liquid-image', image: block.settings['icon-3'] %}
      </div>
      <div class="multi-icon-item-text">
        {{ block.settings['text-3'] }}
      </div>
    </div>
  {% endif %}
</div>
{% comment %} Styles moved to sereluna.css {% endcomment %}
