
  <div
    id="ImageWithText--{{ section.id }}"
    class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}"
  >
    {% content_for 'blocks' %}
  </div>


{% schema %}
{
  "name": "Content Wrapper",
  "tag": "div",
  "class": "image-with-text__text-item grid__item",
  "blocks": [
    { "type": "title" },
    { "type": "faq" },
    { "type": "@app" } 
  ],
  "presets": [
    { "name": "Content Wrapper" }
  ]
}
{% endschema %}