<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'component-cart-notification.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>
<link rel="stylesheet" href="{{ 'custom-megamenu.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }

  /* Transparent Header Styles */
  {%- if section.settings.enable_transparent_header -%}
    .header-transparent {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 10;
      background: transparent;
      margin-bottom: 0;
    }

    .header-transparent .header-wrapper {
      background: transparent;
      background-color: transparent;
      width: 100%;
    }

    .header-transparent .header-wrapper.gradient {
      background: transparent;
      background-image: none;
    }

    .header-transparent .header {
      background: transparent;
      background-color: transparent;
    }
  {%- endif -%}

  /* Logo Swapping */
  {%- if section.settings.enable_transparent_header -%}
    .header-transparent .header__heading-logo-wrapper {
      position: relative;
    }

    .header-transparent .header__heading-logo--default {
      display: none;
    }

    .header-transparent .header__heading-logo--transparent {
      display: block;
    }

    .header-transparent.header-scrolled .header__heading-logo--default,
    .header-transparent.header-hovered .header__heading-logo--default {
      display: block;
    }

    .header-transparent.header-scrolled .header__heading-logo--transparent,
    .header-transparent.header-hovered .header__heading-logo--transparent {
      display: none;
    }
  {%- endif -%}

  /* White text and icons when transparent */
  {%- if section.settings.enable_transparent_header -%}
    .header-transparent .header__heading-link,
    .header-transparent .header__icon,
    .header-transparent .list-menu__item--link,
    .header-transparent .header__heading-link span,
    .header-transparent summary.list-menu__item,
    .header-transparent .header__menu-item,
    .header-transparent .header__menu-item a,
    .header-transparent .header__menu-item .link,
    .header-transparent .list-menu__item a,
    .header-transparent .list-menu__item .link,
    .header-transparent header-menu .list-menu__item--link,
    .header-transparent .menu-drawer__menu-item,
    .header-transparent .menu-drawer__menu-item .link {
      color: rgb(255, 255, 255);
    }

    .header-transparent .header__active-menu-item {
      color: rgb(255, 255, 255);
    }

    .header-transparent.header-scrolled .header-wrapper {
      background: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
    }

    .header-transparent .header__icon svg,
    .header-transparent .svg-wrapper svg,
    .header-transparent .header__icon svg path,
    .header-transparent .svg-wrapper svg path,
    .header-transparent .header__icon svg *,
    .header-transparent .svg-wrapper svg * {
      {% comment %} fill: rgb(255, 255, 255); {% endcomment %}
      stroke: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
    }
  {%- endif -%}

  /* Scrolled/Hovered state - revert to default colors */
  {%- if section.settings.enable_transparent_header -%}
    .header-transparent.header-scrolled .header__heading-link,
    .header-transparent.header-hovered .header__heading-link,
    .header-transparent.header-scrolled .header__icon,
    .header-transparent.header-hovered .header__icon,
    .header-transparent.header-scrolled .list-menu__item--link,
    .header-transparent.header-hovered .list-menu__item--link,
    .header-transparent.header-scrolled .header__heading-link span,
    .header-transparent.header-hovered .header__heading-link span,
    .header-transparent.header-scrolled summary.list-menu__item,
    .header-transparent.header-hovered summary.list-menu__item,
    .header-transparent.header-scrolled .header__menu-item,
    .header-transparent.header-hovered .header__menu-item,
    .header-transparent.header-scrolled .header__menu-item a,
    .header-transparent.header-hovered .header__menu-item a,
    .header-transparent.header-scrolled .header__menu-item .link,
    .header-transparent.header-hovered .header__menu-item .link,
    .header-transparent.header-scrolled .list-menu__item a,
    .header-transparent.header-hovered .list-menu__item a,
    .header-transparent.header-scrolled .list-menu__item .link,
    .header-transparent.header-hovered .list-menu__item .link,
    .header-transparent.header-scrolled header-menu .list-menu__item--link,
    .header-transparent.header-hovered header-menu .list-menu__item--link,
    .header-transparent.header-scrolled .menu-drawer__menu-item,
    .header-transparent.header-hovered .menu-drawer__menu-item,
    .header-transparent.header-scrolled .menu-drawer__menu-item .link,
    .header-transparent.header-hovered .menu-drawer__menu-item .link {
      color: rgba(var(--color-foreground));
    }

    .header-transparent.header-scrolled .header__active-menu-item,
    .header-transparent.header-hovered .header__active-menu-item {
      color: rgb(var(--color-foreground));
    }

    .header-transparent.header-scrolled .header__icon svg,
    .header-transparent.header-hovered .header__icon svg,
    .header-transparent.header-scrolled .svg-wrapper svg,
    .header-transparent.header-hovered .svg-wrapper svg,
    .header-transparent.header-scrolled .header__icon svg path,
    .header-transparent.header-hovered .header__icon svg path,
    .header-transparent.header-scrolled .svg-wrapper svg path,
    .header-transparent.header-hovered .svg-wrapper svg path,
    .header-transparent.header-scrolled .header__icon svg *,
    .header-transparent.header-hovered .header__icon svg *,
    .header-transparent.header-scrolled .svg-wrapper svg *,
    .header-transparent.header-hovered .svg-wrapper svg * {
      {% comment %} fill: currentColor; {% endcomment %}
      stroke: currentColor;
      color: currentColor;
    }

    /* Hover states when scrolled/hovered */
    .header-transparent.header-scrolled .header__heading-link:hover,
    .header-transparent.header-hovered .header__heading-link:hover,
    .header-transparent.header-scrolled .header__icon:hover,
    .header-transparent.header-hovered .header__icon:hover,
    .header-transparent.header-scrolled .header__menu-item:hover,
    .header-transparent.header-hovered .header__menu-item:hover,
    .header-transparent.header-scrolled .header__menu-item:hover a,
    .header-transparent.header-hovered .header__menu-item:hover a,
    .header-transparent.header-scrolled .list-menu__item--link:hover,
    .header-transparent.header-hovered .list-menu__item--link:hover {
      color: rgb(var(--color-foreground));
      opacity: 1;
    }

    .header-transparent.header-scrolled .header__icon:hover svg,
    .header-transparent.header-hovered .header__icon:hover svg,
    .header-transparent.header-scrolled .header__icon:hover svg path,
    .header-transparent.header-hovered .header__icon:hover svg path,
    .header-transparent.header-scrolled .svg-wrapper:hover svg,
    .header-transparent.header-hovered .svg-wrapper:hover svg,
    .header-transparent.header-scrolled .svg-wrapper:hover svg path,
    .header-transparent.header-hovered .svg-wrapper:hover svg path {
      {% comment %} fill: rgb(var(--color-foreground)); {% endcomment %}
      stroke: rgb(var(--color-foreground));
    }


    .header-transparent.header-scrolled .section-header,
    .header-transparent.header-hovered .section-header {
      background: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      width: 100%;
      left: 0;
      right: 0;
    }

    .header-transparent.header-scrolled .header-wrapper {
      background: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      width: 100%;
    }

    .header-transparent.header-scrolled .header-wrapper.gradient.gradient {
      background: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
      background-image: none;
    }

    .header-transparent.header-scrolled .header,
    .header-transparent.header-hovered .header {
      background: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
    }

    .header-transparent.header-scrolled .header.page-width,
    .header-transparent.header-hovered .header.page-width {
      background: rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
    }

    /* Ensure no gaps or spacing issues */
    .header-transparent.header-scrolled .header-wrapper::before::before,
    .header-transparent.header-scrolled .header-wrapper::after::after {
      display: none;
    }
  {%- endif -%}

  /* Full Width Header */
  {%- if section.settings.enable_full_width -%}
    .header-full-width .header-wrapper .header.page-width {
      max-width: 100%;
    }
  {%- endif -%}
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 1.5rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 1.5rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
     .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 5rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 5rem;
  }
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{% liquid
  assign header_tag = 'div'

  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif

  assign is_transparent_header = false
  if request.page_type == 'index' and section.settings.enable_transparent_header
    assign is_transparent_header = true
  endif
%}

<{{ header_tag }}
  {% if header_tag == 'sticky-header' %}
    data-sticky-type="{{ section.settings.sticky_header_type }}"
  {% endif %}
  class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}{% if is_transparent_header %} header-transparent{% endif %}{% if section.settings.enable_full_width %} header-full-width{% endif %}"
  {% if is_transparent_header %}
    data-transparent-header="true"
  {% endif %}
>
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }}{% unless section.settings.enable_full_width %} page-width{% endunless %}{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}{% if is_transparent_header %} header-transparent-active{% endif %}{% if section.settings.enable_center_menu %} header--menu-center{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo header__heading-logo--default motion-reduce',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
            {%- if is_transparent_header -%}
              {%- if section.settings.transparent_logo != blank -%}
                {%- assign transparent_logo_alt = section.settings.transparent_logo.alt
                  | default: shop.name
                  | escape
                -%}
                {%- assign transparent_logo_height = settings.logo_width
                  | divided_by: section.settings.transparent_logo.aspect_ratio
                -%}
                {{
                  section.settings.transparent_logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo header__heading-logo--transparent motion-reduce',
                    widths: widths,
                    height: transparent_logo_height,
                    width: settings.logo_width,
                    alt: transparent_logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              {%- else -%}
                {{
                  settings.logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo header__heading-logo--transparent motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{
              settings.logo
              | image_url: width: 600
              | image_tag:
                class: 'header__heading-logo header__heading-logo--default',
                widths: widths,
                height: logo_height,
                width: settings.logo_width,
                alt: logo_alt,
                sizes: sizes,
                preload: true
            }}
            {%- if is_transparent_header -%}
              {%- if section.settings.transparent_logo != blank -%}
                {%- assign transparent_logo_alt = section.settings.transparent_logo.alt
                  | default: shop.name
                  | escape
                -%}
                {%- assign transparent_logo_height = settings.logo_width
                  | divided_by: section.settings.transparent_logo.aspect_ratio
                -%}
                {{
                  section.settings.transparent_logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo header__heading-logo--transparent',
                    widths: widths,
                    height: transparent_logo_height,
                    width: settings.logo_width,
                    alt: transparent_logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              {%- else -%}
                {{
                  settings.logo
                  | image_url: width: 600
                  | image_tag:
                    class: 'header__heading-logo header__heading-logo--transparent',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                }}
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
          rel="nofollow"
        >
          {%- if section.settings.enable_customer_avatar -%}
            <account-icon>
              {%- if customer and customer.has_avatar? -%}
                {{ customer | avatar }}
              {%- else -%}
                <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
              {%- endif -%}
            </account-icon>
          {%- else -%}
            <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          {%- endif -%}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {% if cart == empty %}
          <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
      {%- if section.settings.header_button_label != blank -%}
        <a href="{{ section.settings.header_button_link | default: '#' }}" class="header__button-ride button">
          {{ section.settings.header_button_label }}
        </a>
      {%- endif -%}
    </div>
  </header>
  {%- if section.settings.show_promo_bar -%}
    <div class="header-promo-bar">
      <div class="header-promo-bar__content page-width">
        <span class="header-promo-bar__icon-info">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info" style="width: 1.8rem; height: 1.8rem;">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
          </svg>
        </span>
        <p class="header-promo-bar__text">
          Limited deal: Get the JX e bike in new color and <span class="highlight-yellow">Save upto 25%</span> 
          {%- if section.settings.promo_bar_link_text != blank -%}
            <a href="{{ section.settings.promo_bar_link | default: '#' }}" class="header-promo-bar__link">{{ section.settings.promo_bar_link_text }}</a>
          {%- endif -%}
        </p>
        <button class="header-promo-bar__close" aria-label="Close promotion">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-close" style="width: 1.6rem; height: 1.6rem;">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </button>
      </div>
    </div>
  {%- endif -%}
</{{ header_tag }}>

{%- if settings.cart_type == 'notification' -%}
  {%- render 'cart-notification',
    color_scheme: section.settings.color_scheme,
    desktop_menu_type: section.settings.menu_type_desktop
  -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky =
        this.getAttribute('data-sticky-type') === 'always' ||
        this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      }

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => (this.preventReveal = true);

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach((disclosure) => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);

  // Transparent Header Scroll and Hover Logic
  (function () {
    'use strict';

    function initTransparentHeader() {
      const headerWrapper = document.querySelector('.header-wrapper[data-transparent-header="true"]');
      if (!headerWrapper) {
        return;
      }

      const sectionHeader = document.querySelector('.section-header');
      let isHovered = false;

      function updateHeaderState() {
        const scrollY = window.scrollY || window.pageYOffset || 0;
        const shouldShowScrolled = scrollY > 50 || isHovered;

        if (shouldShowScrolled) {
          headerWrapper.classList.add('header-scrolled');
          if (isHovered) {
            headerWrapper.classList.add('header-hovered');
          }
        } else {
          headerWrapper.classList.remove('header-scrolled', 'header-hovered');
        }
      }

      function handleScroll() {
        updateHeaderState();
      }

      function handleMouseEnter() {
        isHovered = true;
        updateHeaderState();
      }

      function handleMouseLeave() {
        isHovered = false;
        updateHeaderState();
      }

      // Scroll event
      window.addEventListener('scroll', handleScroll, { passive: true });

      // Hover events
      if (sectionHeader) {
        sectionHeader.addEventListener('mouseenter', handleMouseEnter);
        sectionHeader.addEventListener('mouseleave', handleMouseLeave);
      }

      // Initial state
      updateHeaderState();
    }

    // Initialize on DOM ready
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', initTransparentHeader);
    } else {
      initTransparentHeader();
    }

    // Tabbed Megamenu Interactions
    document.addEventListener('DOMContentLoaded', () => {
      // Close header promo bar
      const promoClose = document.querySelector('.header-promo-bar__close');
      if (promoClose) {
        promoClose.addEventListener('click', () => {
          document.querySelector('.header-promo-bar').style.display = 'none';
        });
      }

      const megamenus = document.querySelectorAll('.megamenu-tabbed-container');
      
      megamenus.forEach((megamenu) => {
        const tabs = megamenu.querySelectorAll('.megamenu-sidebar-item');
        const panels = megamenu.querySelectorAll('.megamenu-panel');

        tabs.forEach((tab) => {
          // Use mouseenter for instant hover effect
          tab.addEventListener('mouseenter', () => {
            const targetId = tab.getAttribute('data-target');
            
            // Remove active class from all tabs and panels
            tabs.forEach(t => t.classList.remove('is-active'));
            panels.forEach(p => p.classList.remove('is-active'));
            
            // Add active class to the hovered tab and corresponding panel
            tab.classList.add('is-active');
            const targetPanel = megamenu.querySelector(`#${targetId}`);
            if (targetPanel) {
              targetPanel.classList.add('is-active');
            }
          });
        });
      });
    });

    // Re-initialize on Shopify theme editor changes
    if (typeof Shopify !== 'undefined' && Shopify.designMode) {
      document.addEventListener('shopify:section:load', initTransparentHeader);
      document.addEventListener('shopify:section:select', initTransparentHeader);
    }
  })();
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "middle-left",
          "label": "Middle left"
        },
        {
          "value": "middle-center",
          "label": "Middle center"
        }
      ],
      "default": "middle-left",
      "label": "Desktop logo position",
      "info": "Position of the logo on desktop screens."
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center",
      "label": "Mobile logo position"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "mega",
          "label": "Mega menu"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "dropdown",
      "label": "Desktop menu type"
    },
    {
      "type": "checkbox",
      "id": "enable_center_menu",
      "default": false,
      "label": "Center menu items",
      "info": "Centers the navigation menu links horizontally on desktop."
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "on-scroll-up",
          "label": "On scroll up"
        },
        {
          "value": "always",
          "label": "Always"
        },
        {
          "value": "reduce-logo-size",
          "label": "Reduce logo size"
        }
      ],
      "default": "on-scroll-up",
      "label": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "Show separator line"
    },
    {
      "type": "header",
      "content": "Transparent header"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "default": false,
      "label": "Enable transparent header",
      "info": "Shows the header over the first section on the home page."
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Transparent logo",
      "info": "This logo will be displayed when the transparent header is active."
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "default": false,
      "label": "Enable full width"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "Menu color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Utilities"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "Enable country/region selector",
      "info": "To add a country/region, go to your market settings."
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "Enable language selector",
      "info": "To add a language, go to your language settings."
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "Enable customer avatar",
      "info": "Shows an avatar icon when customers are logged in."
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 20
    },
    {
      "type": "header",
      "content": "Promo Bar Settings"
    },
    {
      "type": "checkbox",
      "id": "show_promo_bar",
      "default": true,
      "label": "Show bottom promo bar"
    },
    {
      "type": "text",
      "id": "promo_bar_link_text",
      "label": "Promo link text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "promo_bar_link",
      "label": "Promo link url"
    },
    {
      "type": "header",
      "content": "Header Button"
    },
    {
      "type": "text",
      "id": "header_button_label",
      "label": "Button label",
      "default": "Book a test ride"
    },
    {
      "type": "url",
      "id": "header_button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "tabbed_megamenu",
      "name": "Tabbed Megamenu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name",
          "info": "Must match the main menu link title exactly (e.g. Bikes)."
        }
      ]
    },
    {
      "type": "megamenu",
      "name": "Megamenu",
      "settings": [
        {
          "type": "select",
          "id": "column_size",
          "label": "Column size",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "75%",
              "label": "75%"
            }
          ],
          "default": "25%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name",
          "info": "Must match the main menu link title exactly."
        },
        {
          "type": "radio",
          "id": "widget",
          "label": "Widget Type",
          "options": [
            {
              "value": "menu",
              "label": "Menu List"
            },
            {
              "value": "image",
              "label": "Image Banner"
            }
          ],
          "default": "menu"
        },
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Heading (For Menu Type)"
        },
        {
          "type": "header",
          "content": "Menu Settings"
        },
        {
          "type": "link_list",
          "id": "menu_link_list_child",
          "label": "Select Menu"
        },
        {
          "type": "header",
          "content": "Banner Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Banner image"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title"
        },
        {
          "type": "text",
          "id": "banner_button",
          "label": "Banner Button Label"
        },
        {
          "type": "url",
          "id": "banner_link",
          "label": "Banner URL"
        }
      ]
    },
    {
      "type": "collections",
      "name": "Featured collections",
      "settings": [
        {
          "type": "select",
          "id": "column_size",
          "label": "Column size",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "75%",
              "label": "75%"
            }
          ],
          "default": "25%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Featured Collections"
        },
        {
          "type": "header",
          "content": "Collection Slot 1"
        },
        {
          "type": "collection",
          "id": "collection_1",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image_1",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_title_1",
          "label": "Custom Title"
        },
        {
          "type": "header",
          "content": "Collection Slot 2"
        },
        {
          "type": "collection",
          "id": "collection_2",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image_2",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_title_2",
          "label": "Custom Title"
        },
        {
          "type": "header",
          "content": "Collection Slot 3"
        },
        {
          "type": "collection",
          "id": "collection_3",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image_3",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_title_3",
          "label": "Custom Title"
        },
        {
          "type": "header",
          "content": "Collection Slot 4"
        },
        {
          "type": "collection",
          "id": "collection_4",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image_4",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_title_4",
          "label": "Custom Title"
        },
        {
          "type": "header",
          "content": "Collection Slot 5"
        },
        {
          "type": "collection",
          "id": "collection_5",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "custom_image_5",
          "label": "Custom Image"
        },
        {
          "type": "text",
          "id": "custom_title_5",
          "label": "Custom Title"
        }
      ]
    },
    {
      "type": "categories",
      "name": "Shop by category",
      "settings": [
        {
          "type": "select",
          "id": "column_size",
          "label": "Column size",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "75%",
              "label": "75%"
            }
          ],
          "default": "25%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "SHOP BY CATEGORY"
        },
        {
          "type": "header",
          "content": "Category 1"
        },
        {
          "type": "url",
          "id": "collection_1",
          "label": "Collection Link"
        },
        {
          "type": "text",
          "id": "custom_title_1",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "custom_desc_1",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Category 2"
        },
        {
          "type": "url",
          "id": "collection_2",
          "label": "Collection Link"
        },
        {
          "type": "text",
          "id": "custom_title_2",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "custom_desc_2",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Category 3"
        },
        {
          "type": "url",
          "id": "collection_3",
          "label": "Collection Link"
        },
        {
          "type": "text",
          "id": "custom_title_3",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "custom_desc_3",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Category 4"
        },
        {
          "type": "url",
          "id": "collection_4",
          "label": "Collection Link"
        },
        {
          "type": "text",
          "id": "custom_title_4",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "custom_desc_4",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Category 5"
        },
        {
          "type": "url",
          "id": "collection_5",
          "label": "Collection Link"
        },
        {
          "type": "text",
          "id": "custom_title_5",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "custom_desc_5",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Category 6"
        },
        {
          "type": "url",
          "id": "collection_6",
          "label": "Collection Link"
        },
        {
          "type": "text",
          "id": "custom_title_6",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "custom_desc_6",
          "label": "Description"
        }
      ]
    },
    {
      "type": "image-cards-grid",
      "name": "Image cards (Grid)",
      "settings": [
        {
          "type": "select",
          "id": "column_size",
          "label": "Column size",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "75%",
              "label": "75%"
            }
          ],
          "default": "25%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "SHOP BY CATEGORY"
        },
        {
          "type": "header",
          "content": "Item 1"
        },
        {
          "type": "image_picker",
          "id": "item_image_1",
          "label": "Image 1"
        },
        {
          "type": "text",
          "id": "item_title_1",
          "label": "Title 1",
          "default": "Heavy"
        },
        {
          "type": "image_picker",
          "id": "item_svg_1",
          "label": "Droplet Image 1",
          "info": "Upload droplet SVG/PNG here. Leave blank to hide."
        },
        {
          "type": "url",
          "id": "item_link_1",
          "label": "Link 1"
        },
        {
          "type": "header",
          "content": "Item 2"
        },
        {
          "type": "image_picker",
          "id": "item_image_2",
          "label": "Image 2"
        },
        {
          "type": "text",
          "id": "item_title_2",
          "label": "Title 2",
          "default": "Moderate"
        },
        {
          "type": "image_picker",
          "id": "item_svg_2",
          "label": "Droplet Image 2",
          "info": "Upload droplet SVG/PNG here. Leave blank to hide."
        },
        {
          "type": "url",
          "id": "item_link_2",
          "label": "Link 2"
        },
        {
          "type": "header",
          "content": "Item 3"
        },
        {
          "type": "image_picker",
          "id": "item_image_3",
          "label": "Image 3"
        },
        {
          "type": "text",
          "id": "item_title_3",
          "label": "Title 3",
          "default": "Light"
        },
        {
          "type": "image_picker",
          "id": "item_svg_3",
          "label": "Droplet Image 3",
          "info": "Upload droplet SVG/PNG here. Leave blank to hide."
        },
        {
          "type": "url",
          "id": "item_link_3",
          "label": "Link 3"
        },
        {
          "type": "header",
          "content": "Item 4"
        },
        {
          "type": "image_picker",
          "id": "item_image_4",
          "label": "Image 4"
        },
        {
          "type": "text",
          "id": "item_title_4",
          "label": "Title 4"
        },
        {
          "type": "image_picker",
          "id": "item_svg_4",
          "label": "Droplet Image 4",
          "info": "Upload droplet SVG/PNG here. Leave blank to hide."
        },
        {
          "type": "url",
          "id": "item_link_4",
          "label": "Link 4"
        },
        {
          "type": "header",
          "content": "Item 5"
        },
        {
          "type": "image_picker",
          "id": "item_image_5",
          "label": "Image 5"
        },
        {
          "type": "text",
          "id": "item_title_5",
          "label": "Title 5"
        },
        {
          "type": "image_picker",
          "id": "item_svg_5",
          "label": "Droplet Image 5",
          "info": "Upload droplet SVG/PNG here. Leave blank to hide."
        },
        {
          "type": "url",
          "id": "item_link_5",
          "label": "Link 5"
        },
        {
          "type": "header",
          "content": "Item 6"
        },
        {
          "type": "image_picker",
          "id": "item_image_6",
          "label": "Image 6"
        },
        {
          "type": "text",
          "id": "item_title_6",
          "label": "Title 6"
        },
        {
          "type": "image_picker",
          "id": "item_svg_6",
          "label": "Droplet Image 6",
          "info": "Upload droplet SVG/PNG here. Leave blank to hide."
        },
        {
          "type": "url",
          "id": "item_link_6",
          "label": "Link 6"
        }
      ]
    },
    {
      "type": "text-column",
      "name": "Text column",
      "settings": [
        {
          "type": "select",
          "id": "column_size",
          "label": "Column size",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "75%",
              "label": "75%"
            }
          ],
          "default": "25%"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "SHOP BY CATEGORY"
        },
        {
          "type": "text",
          "id": "mm_title",
          "label": "Title",
          "default": "Raised Right. Shipped Right."
        },
        {
          "type": "richtext",
          "id": "mm_desc",
          "label": "Description",
          "default": "<p>We work with small-scale farms to deliver the highest quality meat directly to your door.</p>"
        },
        {
          "type": "text",
          "id": "mm_link_text",
          "label": "Link Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "mm_link_url",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "bottom",
      "name": "Megamenu bottom",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu Trigger Name"
        },
        {
          "type": "header",
          "content": "Link 1 (Left)"
        },
        {
          "type": "text",
          "id": "link_1_text",
          "label": "Link Text",
          "default": "Shop All Meat"
        },
        {
          "type": "url",
          "id": "link_1_url",
          "label": "Link URL"
        },
        {
          "type": "color",
          "id": "link_color_1",
          "label": "Text color",
          "default": "#000"
        },
        {
          "type": "header",
          "content": "Link 2 (Right)"
        },
        {
          "type": "text",
          "id": "link_2_text",
          "label": "Link Text",
          "default": "Read Our Guide"
        },
        {
          "type": "url",
          "id": "link_2_url",
          "label": "Link URL"
        },
        {
          "type": "color",
          "id": "link_color_2",
          "label": "Text color",
          "default": "#000"
        }
      ]
    }
  ]
}
{% endschema %}
